# cdev -- A device management/hotplug daemon for container environments.
#
# Copyright (c) 2014 Taeyeon Mori
# All rights reserved.
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

# Defines default device permissions.

# These rules are not by any means complete, look at what happens
# on your real system to add new ones.

SUBSYSTEM==="sound",GROUP="audio",MODE="660"
SUBSYSTEM==="graphics",GROUP="video",MODE="660"
SUBSYSTEM==="drm",GROUP="video",MODE="660"
SUBSYSTEM==="input",GROUP="input",MODE="660",KERNEL=="js*",MODE="664"
SUBSYSTEM==="block",GROUP="disk",MODE="660",KERNEL=="sr*",GROUP="optical"
